/*
  CSS File
*/
header{
  color:#ffffff;
}

.header {
  display: flex;
  background-color:#004791;
}

.headerNav ul{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  list-style-type: none;
  flex-grow: 1;
}

.headerNav ul li a{
  display: flex;
  padding: 1rem;
  color:#ffffff;
  text-decoration: none;
}
