/*
  CSS File
*/
header{
  color:#ffffff;
}



.header {
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  background-color:#004791;
}

.headerLogo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end:2;
  display: flex;
  width: 2.5rem;
  object-fit: cover;
}

.headerName {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end:2;
}

.headerNavTabs ul{
  display: grid;
  grid-template-columns: repeat(5, minmax(1rem, 20rem));
  grid-template-rows: 1fr;
  background-color: #004791;
  list-style-type: none;
}

.headerNavTabs ul li a{
  color:#ffffff;
  text-decoration: none;
}

.headerNavTabs ul li:nth-child(1){
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
}

.headerNavTabs ul li:nth-child(2){
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
}

.headerNav ul li:nth-child(3){
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
}

.headerNavTabs ul li:nth-child(4){
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
}

.headerNavTabs ul li:nth-child(5){
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
}

.headerNavTabs ul li a:hover{
  color:#badadd;
  font-weight:bold;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}